<h1>All Products</h1>
<% instruments.forEach(instrument => { %>
<div>
  <h3><%= instrument.name %></h3>
  <p><%= instrument.description %></p>
  <p><%= instrument.price %></p>
</div>
<% }) %>
<a href="/allproducts/createitem">Create a new product</a>
