<h1>Categories</h1>
<% categories.forEach(category => { %>
<div>
  <a href="/categories/<%= category.name %>"><%= category.name %></a>
  <button><a href="/categories/editcategory/<%= category.id %>">Edit Category</a></button>
  <button><a href="/categories/deletecategory/<%= category.id %>">Delete Category</a></button>
</div>
<% }) %>
<a href="/categories/createcategory">Create Category</a>
<a href="/">Return to homepage</a>
