<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Categories</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <h1>Categories</h1>
    <div class="links">
      <a href="/categories/createcategory">Create Category</a>
      <a href="/">Return to homepage</a>
    </div>
    <div class="categories">
      <% categories.forEach(category => { %>
      <div>
        <a href="/categories/<%= category.name %>"><h2><%= category.name %></h2></a>
        <div class="buttons">
          <a href="/categories/editcategory/<%= category.id %>">
            <button>Edit Category</button>
          </a>
          <a href="/categories/deletecategory/<%= category.id %>">
            <button>Delete Category</button>
          </a>
        </div>
      </div>
      <% }) %>
    </div>
  </body>
</html>
