@import '/node_modules/modern-normalize/modern-normalize.css';

html {
  font-family: 'Roboto', 'Courier New', Courier, monospace;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

body:has(form) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 98vh;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: inherit;
}

a:hover {
  color: grey;
}



form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 20vw;
}

button {
  cursor: pointer;
  border: 0;
  border-radius: 10px;
  transition: all ease 0.3s;
  background-color: rgb(205, 248, 247);
  padding: 15px;
}

button:hover {
  opacity: 70%;
}

.index-list {
  display: flex;
  gap: 10px;
}

.products,
.categories {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
  margin-top: 5vh;
  margin-left: 5vh;
  margin-right: 5vh;
  margin-bottom: 5vh;
}

.products div:not(.buttons),
.categories div:not(.buttons) {
  display: flex;
  flex: 1 1 30vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 60vh;
  box-shadow: #00000047 0 2px 11px;
  padding: 35px;
  background-color: #ffffff;
}

.products *:not(.buttons *) {
  min-width: 20vw;
}

.categories div {
  gap: 20px;
}

.products .buttons {
  display: flex;
  flex-direction: row;
}

.buttons {
  gap: 5px;
}

.links {
  display: flex;
  gap: 10px;
}