<%- include("../errors.ejs") %>
<form action="/categories/createcategory" method="post">
  <label for="categoryname">Category Name:</label>
  <input type="text" id="categoryname" name="categoryname" required />
  <button type="submit">Submit</button>
</form>
<a href="/categories">Return to categories</a>
